{% extends 'base.html.twig' %}

{% block title %}Ownprogress - Home{% endblock %}

{% block body %}
<div class="main bg-sport">
    <h1 class="title">Ownprogress</h1>
    <p class="sub-title"><span class="block-title">Application for managing your training sessions</span></p>
    

</div>
{% endblock %}
