{% include "_partials/header.html.twig" %}
    <body>
        <div class="main bg-sport">
            {% block body %}{% endblock %}
        </div>
{% include "_partials/footer.html.twig" %}
    </body>
</html>