{% extends 'base.html.twig' %}

{% block title %}New Training{% endblock %}

{% block body %}
    <h1 class="title">Create new Training</h1>

    {{ include('training/_form.html.twig') }}

    <p class="text-center m-4"><a class="btn bg-color" href="{{ path('training_index') }}">Back to list <i class="fas fa-hand-point-left"></i></a></p>

{% endblock %}
